.page-content {
  padding: 20px;
  background-color: #e9ecef;
}

.page-content h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.job-applied-chart {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
